<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{css/modalesCss.css}">
    </head>
    <body>
        <div class="contenedorModales" th:fragment="modales" id="contenedorModal">
            <!--MODAL INICIAR SESIÓN -->
            <div class="modalSesion" id="modalSesion">
                <form class="formularioSesion" th:action="@{/login}" method="POST">
                    <div class="divSesion">
                        <label class="lblSesion" name="username" for="usuario">Usuario</label>
                        <input class="inputSesion" name="password" type="text" id="usuario">
                    </div>
                    <div class="divSesion">
                        <label class="lblSesion" for="pass">Contraseña</label>
                        <input class="inputSesion" id="pass" type="password">
                        <i class="far fa-eye" id="eyeUpS"></i>
                    </div>
                    <input type="submit" value="Enviar" class="btnEnvSesion">
                </form>
                <hr class="hre">
                <div class="linksSesion">
                    <a id="registrarse">¿No tienes cuenta? Registrarse</a>
                    <a id="recuperar">Recuperar contraseña</a>
                </div>
            </div>
            <!--MODAL INICIAR SESIÓN-->
            <!--MODAL REGISTRO -->
            <div class="modalRegistro" id="modalRegistro">
                <form class="formularioRegistro" id="formularioRegistro" th:object="${usuario}" th:action="@{/registro}" method="POST">
                    <input type="hidden" th:field="*{idUsuario}">
                    <div class="divRegistro">
                        <label class="lblRegistro">Correo</label>
                        <input class="inputRegistro" type="text" id="correoRegistro" th:field="*{correo}">
                        <label id="lblcorreoErr" class="span">Correo inválido</label>
                    </div>
                    <div class="divRegistro">
                        <label class="lblRegistro">Nombre</label>
                        <input class="inputRegistro" type="text" id="inputNombreR" th:field="*{nombre}">
                        <label id="lblNombreErr1" class="span">Nombre inválido, debe tener más caracteres.</label>
                        <label id="lblNombreErr2" class="span">Nombre inválido, no puede tener números.</label>
                    </div>
                    <div class="divRegistro">
                        <label class="lblRegistro">Apellido</label>
                        <input class="inputRegistro" type="text" id="apellidoRegistro" th:field="*{apellido}">
                        <label id="lblApellidoErr1" class="span">Apellido inválido, debe tener más caracteres.</label>
                        <label id="lblApellidoErr2" class="span">Apellido inválido, no puede tener números.</label>
                    </div>
                    <div class="divRegistro">
                        <label class="lblRegistro">Contraseña</label>
                        <input class="inputRegistro" type="password" id="pass2" th:field="*{contrasena}">
                        <label id="lblpass2Err1" class="span">Contraseña inválida, debe tener más caracteres.</label>
                        <label id="lblpass2Err2" class="span">Contraseña inválida, debe tener números y letras.</label>
                        <i class="far fa-eye" id="eyeUp"></i>
                    </div>
                    <div class="divRegistro">
                        <label class="lblRegistro">Dirección(opcional)</label>
                        <input class="inputRegistro" type="text" th:field="*{direccion}">
                    </div>
                    <input type="submit" value="Registrarse" class="btnRegistro">
                </form>
                <div class="linkRegistro">
                    <a id="iniciarSesionRegistro">Iniciar sesión</a>
                </div>
            </div>
            <!--MODAL REGISTRO-->
            <!--MODAL RECUPERAR CONTRASEÑA -->
            <div class="modalRecuperar" id="modalRecuperar">
                <form id="formRecup">
                    <input type="text" class="inpRecuperar" id="inpRecuperar" placeholder="Escriba el correo con el que se registró">
                    <label id="correoRecup" class="spanR">Correo inválido.</label>
                    <input type="submit" value="Enviar" class="envRec">
                </form>
                <div class="linksSesion">
                    <a id="iniciarRecuperar">Iniciar sesión</a>
                    <a id="registrarseRecuperar">Registrarse</a>
                </div>
            </div>
            <!--MODAL RECUPERAR CONTRASEÑA-->
        </div>
    </body>
</html>
