@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    background-color: #f3eedd;
}

.contenedor{
    width: 100%;
}
/*MENÚ*/
.container-nav{
    background-color: #680a0a;
}
.menu{
    background-color: #680a0a;
    width: 60%;
    margin: 0px auto 0px auto;
    display: flex;
    list-style: none;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
}
.aNav,.liNav{
    font-size: 20px;
    background-color: #680a0a;
    color:white;
}
/*MENÚ*/
/*IMAGEN MENÚ*/
.divImgPre{
    height:100vh;
    background-image:url("../img/bar.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
/*IMAGEN MENÚ*/
/*SECCIÓN AMIGOS*/
.amigos{
    background-image:url("../img/amigos.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    position: relative;
}
.cubreAmigos{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(145,85,84,.8);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cubreAmigos h2{
    background-color: rgba(145,85,84,0);
    color: white;
}
/*SECCIÓN AMIGOS*/
/*PRESENTACIÓN CONTAINER*/
.presentacionContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.logoPresentacion{
    margin: 10px 0px 10px 0px;
    color: #d5ba7f;
    font-size: 30px;
    width: 50%;
    text-align: center;
}
.logoPresentacion::before{
    content: "";
    display:block;
    background-color: #d5ba7f;
    height: 2px;
    width: 40%;
    transform: translate(0%,1000%);
}
.logoPresentacion::after{
    content: "";
    display:block;
    background-color: #d5ba7f;
    height: 2px;
    width: 40%;
    transform: translate(150%,-900%);
}
.presentacionTexto{
    width: 50%;
}
/*PRESENTACIÓN CONTAINER*/

/*FOOTER*/
.footer{
    width: 100%;
    height: calc(100vh -80px -300px);
    display: flex;
}
.footerHorarios{
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.footerHorarios p{background-color: white; margin: 10px;}
.informacionFooter{
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
/*FOOTER*/