<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>refrigerios la 80</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
        <link rel="stylesheet" type="text/css" th:href="@{css/modalesCss.css}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="icon" type="image/png" th:href="@{img/icon.png}">
    </head>
    <body>
        <div class="contenedor">
            <!--MENÚ-->
            <div th:replace="layouts/layoutNav :: nav"></div>
            <!--MENÚ-->
            <!--IMAGEN PRESENTACIÓN-->
            <div class="divImgPre"></div>
            <!--IMAGEN PRESENTACIÓN-->
            <!--DIV PRESENTACIÓN-->
            <div class="presentacionContainer">
                <h2 style="color:#d5ba7f;">Refrigerios la 80</h2>
                <div class="logoPresentacion"><i class="fas fa-mug-hot"></i></div>
                <div class="presentacionTexto"><p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p></div>
            </div>
            <!--DIV PRESENTACIÓN-->
            <!--AMIGOS-->
            <div class="amigos"><div class="cubreAmigos"><h2>El mejor lugar para compartir con los amigos</h2></div></div>
            <!--AMIGOS-->
            <!--MODALES-->
            <div th:replace="layouts/modales :: modales"></div>
            <!--MODALES-->
            <!--FOOTER-->
            <div class="footer">
                <div class="footerHorarios">
                    <p>Lunes - Viernes : 8am ~ 7pm. </p>
                    <p>Sábado : 8am ~ 6pm. </p>
                    <p>Domingo : 8am ~ 4pm. </p>
                </div>
                <div class="informacionFooter">
                    <p>Correo@correo.com</p>
                    <p> 232423423</p>
                    <p>#4354 6-7</p>
                </div>
            </div>
            <!--FOOTER-->
        </div>
        <script th:src="@{js/modales.js}"></script>
        <script th:src="@{js/ValidacionesForm.js}"></script>
    </body>
</html>
