<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns:th="http://thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>¡Se ha registrado exitosamente en refrigerios la 80!</h1>
            <h2>Dato de registro:</h2>
            <h2 th:text="${nombre}"></h2>
            <h2 th:text="${correo}"></h2>
        </div>
    </body>
</html>
